.category {
    overflow: hidden;
}
.category--leaf .category__name {
    padding-left: 6px;
    display: inline-block;
}
.category--selected {
    background: #39cccc;
    color: white;
}
.category--selected button {
    background: white;
    color: #39cccc;

}
.category button {
    border: none;
    padding: 0 5px;
    height: 100%;
    margin-right: 1px;
}