.search__clear {
    margin-left: -15px;
    vertical-align: bottom;
    cursor: pointer;
}
.search > * {
    display: inline-block;
}
.search__input {
    margin-left: 10px;
}
.search {
    padding: 10px;
}