.search {
    float: right;
}
.clearfix {
    overflow: hidden;
}
.logo {
    float: left;
    padding: 10px;
}

.progress-bar {
    margin-bottom: 10px;
}

.categories-left {
    vertical-align: top;
    padding: 0 10px;
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
}
.todos-container {
    width: 70%;
    display: inline-block;
    padding: 0 10px 0 0;
    box-sizing: border-box;
}
.todos-container .add-item {
    float: right;
}
.top {
    overflow: hidden;
    margin-bottom: 10px;
}

.fr {
    float: right;
}

